h1 {
  color: blue;
}
#colleges li {
  background-color: red;
  }
  #topics li {
    list-style-type: none;
  }
  figure {
      display: inline-block;
      margin: 20px;
              }

  img {
    max-width: 300px;
  }
